body {
  margin: 0%;
  padding: 0%;
}


h1 {
text-align: center;
margin-top: 15%;
font-size: 70px;
}

.topnav{
  overflow: hidden;
}

.topnav a{
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
}

.topnavright {
  background-color: white;
  overflow: hidden;
}

.topnavright a{
  float: right;
  color: black;
  text-align: center;
  padding: 14px 16px;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 110%;
  border: 3px solid black;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: white;
}

.searchTerm:focus {
  color: white;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 3px solid black;
  background: white;
  text-align: center;
  color: black;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
  font-size: 20px;
}

.wrap {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate (-50%, -50%);
}
